/*
align nav bar links on right
*/
.navbar-collapse{
    justify-content: flex-end;
}

/*
styling main article
*/
article {
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: whitesmoke;
    padding: 15px;
}

/*
paragraph styling
*/
p {
    padding: 10px;
    margin: 15px;
    text-align:center;
}

/*
Header one styling
*/
h1 {
    text-align: left;
    border-bottom: 10px;
    border-color:dimgrey;
}

/*
Main background color
*/
body {
    background-color: dimgrey;
}

/*
Footer styling
*/
footer {
    text-align: center;
    background-color: black;
    color: white;
}

h3{
    text-align:center;
    margin-top: 15px;
}

img{
    width:250px; 
    height:300px; 
    padding:15px;
}

a{
    justify-content:center;
}

.card{
    justify-content:center;
    margin:15px;
}
